@font-face
{
	font-family: Proxima Nova Regular;
	src: url(ProximaNova-Light.otf);
}

body {
    	font-family: 'Open Sans', Helvetica, sans-serif;
    	background-color: #EEEEEE;
    	margin: 0 0 0 0px;
    	padding: 0 0 24px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 24px;
	padding-left: 0px;
	height: 1200px;
}

#main {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

#page {
	background-color: white;
    	width: 981px;
	padding: 0 30px 30px 30px;
    	margin-top: 25px;
	box-shadow: 0 0 6px #ccc;
    	text-align: left;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
    	height: 1000px;
    	font-size: 80%;   
}

#nav-bar{
	background: white;
	font-family: 'Proxima Nova Regular', sans-serif;
	height: auto;
	width: 100%;
	margin-bottom: 24px;
	display: inline-block;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	position: relative;
	z-index: 11;
	padding-left: 35px;	
}

#nav-bar a{
	transition: border-color .2s linear;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: rgb(255, 255, 255);
	text-decoration: none;
	color: #333;
	font-size: 16px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	height: 70px;
	padding-top: 24px;
	padding-right: 34px;	
	padding-left: 35px;	
}

#nav-bar a.guides:hover {
	
	border-top: 3px solid blue;
}

#nav-bar a.answers:hover {
	
	border-top: 3px solid green;
}

#nav-bar a.store:hover {
	
	border-top: 3px solid red;
}

.logo{
	display: inline-block;
	width: 125px;
	height: 37px;
	background: url(https://d1luk0418egahw.cloudfront.net/static/images/home/IFIXIT-logo.png) no-repeat center;
	margin-top: 16px;
	margin-left: 79px;
	position: absolute;
	cursor: pointer;
}

#content {
	width: 593px;
	height: 600px;	
}

#sidebarFloat {
	float: right;
	display: block;
}

#sidebar {
	width: 316px;
	margin-top: 24px;
	background-color: #fafafa;
	height: 700px;
	border-left: 2px solid #c1c1c1;
	border-right: 2px solid #c1c1c1;
	border-bottom: 2px solid #c1c1c1;
}

#sidebar h4 {
	width: 316px;
	border: 1px solid #c1c1c1;
	position: relative;
	margin-left: -1px;
	font-weight: 600;
	font-size: 120%;
	background-color: #fff;
	line-height: 1.2em;
	
	padding-top: 8px;
	text-align: center;
	padding-bottom: 8px;
	font-weight: 600;
	background-image: linear-gradient(to bottom,#f1f1f1,#e1e1e1);
	border-top: 2px solid #c1c1c1;
	margin-bottom: 10px;
}

#page h1 {
	font-weight: bold;
	font-size: 2.2em;
	margin: 3px;
	margin-top: 24px;
}
#page p {
	font-weight: normal;
	font-size: 1.2em;
}

#devices {
	display: inline-block;
	height: 425px;
	width: 575px;
	overflow: auto;
	padding-left: 13px;	
}

img {
	margin: 3px;
	display: inline;
	cursor: pointer;
}

#devices img {
	margin-right: 12px;
	width: 96px;
	height: 72px;
	border: 1px solid black;
}

#myDevices img {
	margin-left: 11.5px;
	width: 86px;
	height: 62px;
	border: 1px solid black;
}

#container {
	display: inline-block;
	width: 583px;
	height: 504px;
	border: 2px solid #c1c1c1;
	background: radial-gradient(#f1f1f1 , #e1e1e1);
	padding: 10px;
	box-shadow: 0px 0px 30px 10px darkGray inset;
}
#name-bar {
 	display: block;
 	height: 40px;
 	background-color: #fafafa;
 	text-align: center;
 	margin-left: 15px;
 	margin-bottom: 10px;
 	margin-right: 15px;
 	margin-top: 10px;
 	padding-top: 20px;
 	font-size: 14px;
 	border: 1px solid black;
}
#name {
	margin: 0px;	
}

#buttons {
	display: block;
}

#previous, #next {
	display: inline-block;	
	height: 40px;
	width: 90px;
	border-radius: 5px;
	margin-left: 15px;
	margin-top: 10px;
	cursor: pointer;
	background-color: #f1f1f1;
}

#previous{
	float: left;
}

#next{
	float: right;
}

#rangeBar {
	display: block;
	margin-top: 10px;
	height: 30px;
	margin-left: 15px;
}

#range {
	margin: 0px;
	margin-top: 3px;
	text-align: center;
	margin-bottom: 0px;	
}

#myDevices {
	height: 645px;
	overflow: scroll;
}

.myDevice:hover{
	/*width: 10px;
	height: 10px;
	background-color: black;*/
	border: 1px solid yellow;
}














